<?xml version="1.0" encoding="UTF-8"?>
<course id="{{id}}" contextid="{{contextid}}">
    <shortname>{{shortname}}</shortname>
    <fullname>{{fullname}}</fullname>
    <idnumber>{{idnumber}}</idnumber>
    <summary>{{summary}}</summary>
    <summaryformat>{{summaryformat}}</summaryformat>
    <format>{{format}}</format>
    <showgrades>{{showgrades}}</showgrades>
    <newsitems>{{newsitems}}</newsitems>
    <startdate>{{startdate}}</startdate>
    <enddate>{{enddate}}</enddate>
    <marker>{{marker}}</marker>
    <maxbytes>{{maxbytes}}</maxbytes>
    <legacyfiles>{{legacyfiles}}</legacyfiles>
    <showreports>{{showreports}}</showreports>
    <visible>{{visible}}</visible>
    <groupmode>{{groupmode}}</groupmode>
    <groupmodeforce>{{groupmodeforce}}</groupmodeforce>
    <defaultgroupingid>{{defaultgroupingid}}</defaultgroupingid>
    <lang>{{lang}}</lang>
    <theme>{{theme}}</theme>
    <timecreated>{{timecreated}}</timecreated>
    <timemodified>{{timemodified}}</timemodified>
    <requested>{{requested}}</requested>
    <enablecompletion>{{enablecompletion}}</enablecompletion>
    <completionnotify>{{completionnotify}}</completionnotify>
    <hiddensections>{{hiddensections}}</hiddensections>
    <coursedisplay>{{coursedisplay}}</coursedisplay>
    <category id="{{category.id}}">
        <name>{{category.name}}</name>
        <description>{{category.description}}</description>
    </category>
    <tags>{{tags}}</tags>
    <customfields>{{customfields}}</customfields>
</course>