<?xml version="1.0" encoding="UTF-8"?>
<files>
    {{#files}}
    <file id="{{id}}">
        <contenthash>{{contenthash}}</contenthash>
        <contextid>{{contextid}}</contextid>
        <component>{{component}}</component>
        <filearea>{{filearea}}</filearea>
        <itemid>{{itemid}}</itemid>
        <filepath>{{filepath}}</filepath>
        <filename>{{filename}}</filename>
        <userid>{{userid}}</userid>
        <filesize>{{filesize}}</filesize>
        <mimetype>{{mimetype}}</mimetype>
        <status>0</status>
        <timecreated>{{timecreated}}</timecreated>
        <timemodified>{{timemodified}}</timemodified>
        <source>{{source}}</source>
        <author>Admin User</author>
        <license>unknown</license>
        <sortorder>{{sortorder}}</sortorder>
        <repositorytype>$@NULL@$</repositorytype>
        <repositoryid>$@NULL@$</repositoryid>
        <reference>$@NULL@$</reference>
    </file>
    {{/files}}
</files>