<?xml version="1.0" encoding="UTF-8"?>
<filters>
    {{#filteractives}}
        <filter_active>
            <filter>{{name}}</filter>
            <active>{{status}}</active>
        </filter_active>
    {{/filteractives}}
    <filter_configs>
    </filter_configs>
</filters>