<grade_item id="{{id}}">
    <categoryid>{{categoryid}}</categoryid>
    <itemname>{{itemname}}</itemname>
    <itemtype>{{itemtype}}</itemtype>
    <itemmodule>{{itemtype}}</itemmodule>
    <iteminstance>{{iteminstance}}</iteminstance>
    <itemnumber>0</itemnumber>
    <iteminfo>$@NULL@$</iteminfo>
    <idnumber>$@NULL@$</idnumber>
    <calculation>$@NULL@$</calculation>
    <gradetype>1</gradetype>
    <grademax>{{grademax}}</grademax>
    <grademin>{{grademin}}</grademin>
    <scaleid>$@NULL@$</scaleid>
    <outcomeid>$@NULL@$</outcomeid>
    <gradepass>{{gradepass}}</gradepass>
    <multfactor>{{multifactor}}</multfactor>
    <plusfactor>{{plusfactor}}</plusfactor>
    <aggregationcoef>{{aggregationcoef}}</aggregationcoef>
    <aggregationcoef2>{{aggregationcoef2}}</aggregationcoef2>
    <weightoverride>{{weightoverride}}</weightoverride>
    <sortorder>{{sortorder}}</sortorder>
    <display>0</display>
    <decimals>$@NULL@$</decimals>
    <hidden>0</hidden>
    <locked>0</locked>
    <locktime>0</locktime>
    <needsupdate>0</needsupdate>
    <timecreated>{{timecreated}}</timecreated>
    <timemodified>{{timemodified}}</timemodified>
    <grade_grades>
    </grade_grades>
</grade_item>