<?xml version="1.0" encoding="UTF-8"?>
<inforef>

    <roleref>
        {{#rolerefs}}
        <role>
            <id>{{id}}</id>
        </role>
        {{/rolerefs}}
    </roleref>

    <question_categoryref>
        {{#questioncategoryrefs}}
        <question_category>
            <id>{{id}}</id>
        </question_category>
        {{/questioncategoryrefs}}
    </question_categoryref>
    <fileref>
        {{#filerefs}}
            <file>
                <id>{{id}}</id>
            </file>
        {{/filerefs}}
    </fileref>

</inforef>