<?xml version="1.0" encoding="UTF-8"?>
<inforef>

    {{#hasrolerefs}}
        <roleref>
            {{#rolerefs}}
                <role>
                    <id>{{.}}</id>
                </role>
            {{/rolerefs}}
        </roleref>
    {{/hasrolerefs}}
    {{#hasquestioncategoryrefs}}
        <question_categoryref>
            {{#questioncategoryrefs}}
                <question_category>
                    <id>{{.}}</id>
                </question_category>
            {{/questioncategoryrefs}}
        </question_categoryref>
    {{/hasquestioncategoryrefs}}
    {{#hasfilerefs}}
        <fileref>
            {{#filerefs}}
                <file>
                    <id>{{.}}</id>
                </file>
            {{/filerefs}}
        </fileref>
    {{/hasfilerefs}}
</inforef>