<plugin_qtype_multichoice_question>
    <answers>
        {{#answers}}
            <answer id="{{id}}">
                <answertext><![CDATA[{{{answertext}}}]]></answertext>
                <answerformat>{{answerformat}}</answerformat>
                <fraction>{{fraction}}</fraction>
                <feedback></feedback>
                <feedbackformat>1</feedbackformat>
            </answer>
        {{/answers}}
    </answers>
    {{#multichoice}}
        <multichoice id="{{id}}">
            <layout>0</layout>
            <single>1</single>
            <shuffleanswers>{{shuffleanswers}}</shuffleanswers>
            <correctfeedback>{{correctfeedback}}</correctfeedback>
            <correctfeedbackformat>{{correctfeedbackformat}}</correctfeedbackformat>
            <partiallycorrectfeedback>{{partiallycorrectfeedback}}</partiallycorrectfeedback>
            <partiallycorrectfeedbackformat>{{partiallycorrectfeedbackformat}}</partiallycorrectfeedbackformat>
            <incorrectfeedback>{{incorrectfeedback}}</incorrectfeedback>
            <incorrectfeedbackformat>{{incorrectfeedbackformat}}</incorrectfeedbackformat>
            <answernumbering>{{answernumbering}}</answernumbering>
            <shownumcorrect>{{shownumcorrect}}</shownumcorrect>
            <showstandardinstruction>0</showstandardinstruction>
        </multichoice>
    {{/multichoice}}
</plugin_qtype_multichoice_question>