<?xml version="1.0" encoding="UTF-8"?>
<section id="{{id}}">
    <number>{{number}}</number>
    <name>{{title}}</name>
    <summary>{{{summary}}}</summary>
    <summaryformat>{{summaryformat}}</summaryformat>
    <sequence>{{sequence}}</sequence>
    <visible>{{visible}}</visible>
    <availabilityjson>{{{availabilityjson}}}</availabilityjson>
    <timemodified>{{timemodified}}</timemodified>
</section>